$colors: (
  color-main: rgb(70, 112, 70),
  color-main-dark: darken(rgb(70, 112, 70), 5%),
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  //   min-height: 100vh;
  height: 500vh;
  background-color: color(color-main-dark);
  display: flex;
  flex-direction: column;

  section {
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 1fr;

    .box {
      aspect-ratio: 2/3;
      overflow: hidden;
      position: relative;
      // // backface-visibility: hidden;

      img {
        position: absolute;
        left: -39%;
        width: 140%;
        height: 100%;
        object-fit: cover;
        // transform: translateX(-100%);
        transition: all 800ms ease-in;
      }
    }
    h2 {
      transition: transform 1000ms ease-in;
    }
  }
  section:nth-child(1) {
    flex: 2;
  }
  section:nth-child(2),
  section:nth-child(4) {
    flex: 1;
    .box {
      align-self: center;
      grid-column: 2/4;
      grid-row: 1;
    }
    h2 {
      align-self: center;
      grid-column: 4/8;
      grid-row: 1;
    }
  }
  section:nth-child(3),
  section:nth-child(5) {
    flex: 2;
    .box {
      align-self: center;
      grid-column: 8/11;
      grid-row: 1;
    }
    h2 {
      align-self: center;
      grid-column: 2/8;
      grid-row: 1;
      z-index: 2;
    }
  }
}
